/*
400 regular
600 semibold
*/
@font-face {
    font-family: 'Rubik';
    src: url(Rubik-Regular.ttf);
    src: url(Rubik-SemiBold.ttf);


}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(255,255,255);
}

::-webkit-scrollbar-thumb {
  background-color: #5dbfb0;
  border-radius: 10px;
}

.navbar {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}
ul li ul.dropdown{
	display: none;
}
li.dropdown{
	display: inline-block;
	
}

.dropdown:hover .isi-dropdown{
	display: block;
	left: 2.8em;
	top: 3em;
}
.isi-dropdown a:hover {
		color: #fff !important;
		left: 2.8em;
	top: 3em;
	}
 
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		background-color:rgba(93, 191, 176, 0.5);
		line-height: 30px;
		text-align: top;
		border: 1px;
		border-radius: 15px;
		transition: all .5s;
	}
 
	.isi-dropdown a {
		color: #D19980!important;
	}
 
	.isi-dropdown a:hover {
		color: #232323;
		background: #5dbfb0;
	}
.but {
    justify-content: space-between;
    display: flex;
    width: 25%;
    align-items: center;

}

.singup {
    border: none;
    background-color: transparent;
    font-family: 'Rubik-SemiBold', sans-serif;
    font-size: large;
	transition: .5s;
}
.singup:hover{
    transform: scale(1.3);
}

.singin {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    border-radius: 15px;
    padding: 5px 25px;
    background-color: #5dbfb0;
    border: none;
    color: white;
    transition: all .5s;
}
.singin:hover{
    border-radius: 20px;
    padding: 5px 25px;
    background-color: #F8D965;
    border: none;
    color: #5dbfb0;
    transform: scale(1.1);
}

ul {
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    padding: 30px;
    margin-left: 500px;
    display: flex;
}

.nbr {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-right: 10;
    width: 70%;
    text-decoration: none;
}
li a{
    color: #9c9c9c;
	transition: all .5s;
}
li a:hover{
    color: #245750;
	transform: scale(1.5);
}
.dropdown{
	margin-left: 30px;
	margin-top: -3.2px;
	font-size: large;
}
.home{
	color: #245750;
	border-radius: 2px;
	border-bottom: 2px solid #f8d965;
}
.ab {
    margin-left: 30px;
}
.ac {
    margin-left: 30px;
}

.ad {
    margin-left: 30px;
}

.ae {
    margin-left: 30px;
}

.lgkecil {
    position: absolute;
    margin-top: 15px;
    margin-left: 55px;

}

.bgutama {
    position: absolute;
    width: 100%;
    z-index: -2;
    margin-top: -38.7em;

}
.over1{
    width: 100%;
    position: absolute;
    margin-top: -38.7em;
    z-index: -3;
}

.akses {
    position: absolute;
    width: 100%;
    margin-top: -38.7em;
    z-index: 2;

}

.arab {
    position: absolute;
    width: 40%;
    margin-top: -35em;
    margin-left: 100px;
}

.teks {
    position: absolute;
    font-size: 70px;
    text-align: right;
    z-index: 2;
    margin-top: -7em;
    margin-left: 800px;
    color: #D19980;
}

.past {
    color: #245750;
    font-family: 'Rubik-SemiBold', sans-serif;
    font-weight: 600;
}

.psat {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

.desk {
    position: absolute;
    text-align: right;
    font-size: 20px;
    margin-left: 854px;
    margin-top: -12em;
    z-index: 2;
    font-family: 'Rubik-Regular', sans-serif;
    color: #245750;

}

.getstart {
    text-align: center;
    padding: 10px 25px;
    position: absolute;
    margin-left: 1100px;
    margin-top: -5em;
    color: #245750;
    background-color: #F8D965;
    border: none;
    border-radius: 20px;
    font-size: large;
    font-family: 'Rubik-Regular', sans-serif;
    transition: .5s;
    width: 100px;
    z-index: 2;
}

.getstart:hover {
    width: 140px;
}

.sc1 {
    background-color: transparent;
    width: 100%;
    position: inherit;
    margin-top: 39.4em;
}

.akses1 {
    width: 100%;
    margin-top: 8em;
}

.mejid {
    width: 45%;
    position: relative;
    margin-top: -34.4em;
    margin-left: 743px;
}

.hwa {
    color: #245750;
    font-family: 'Rubik-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 70px;
    position: absolute;
    margin-left: 70px;
    margin-top: -340px;
}

.dat {
    color: #D19980;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

.learn {
    margin-top: -5em;
    color: #245750;
    background-color: #F8D965;
    text-decoration: none;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 25px;
    margin-left: -79em;
    position: absolute;
    width: 150px;
    text-align: center;
    transition: width .5s;
}

.learn:hover {
    width: 200px;
}

.sc2 {
    background-color: white;
    width: 100%;
    height: 150em;
    position: inherit;
    margin-top: 1em;
}

.hwa2 {
    color: #245750;
    font-family: 'Rubik-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 60px;
    position: absolute;
    margin-left: 23%;
    margin-top: 10%;

}

.dat2 {
    color: #D19980;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

.desk1 {
    text-align: center;
    color: #245750;
    font-weight: 400;
    font-family: 'Rubik-Regular', sans-serif;
    margin-top: 280px;
    margin-left: 24%;
    position: absolute;
}

.cards {
    width: 70%;
    position: absolute;
    margin-top: 27em;
    margin-left: 14.5%;
}

.quran {
    position: absolute;
    margin-top: 30em;
    width: 150px;
    margin-left: 17em;
}

.anak {
    position: absolute;
    margin-top: 30em;
    width: 150px;
    margin-left: 37em;
}

.bpck {
    position: absolute;
    margin-top: 30em;
    width: 150px;
    margin-left: 57em;
}

.lipsum {
    position: absolute;
    margin-top: 43.5em;
    margin-left: 15em;
    color: #245750;
    text-align: center;
    font-family: 'Rubik-Regular', sans-serif;
}

.bot {
    position: absolute;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 600;
    color: #245750;
    margin-top: 27em;
    margin-left: 12em;
}

.lipsum1 {
    position: absolute;
    margin-top: 43.5em;
    margin-left: 35.5em;
    text-align: center;
    font-family: 'Rubik-Regular', sans-serif;
    color: #245750;
}

.bot1 {
    position: absolute;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 600;
    margin-top: 27em;
    color: #245750;
    margin-left: 23em;
}

.lipsum2 {
    position: absolute;
    margin-top: 43.5em;
    margin-left: 55.5em;
    text-align: center;
    font-family: 'Rubik-Regular', sans-serif;
    color: #245750;
}

.bot2 {
    position: absolute;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 600;
    margin-top: 27em;
    color: #245750;
    margin-left: 38.2em;
}

.ban {
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 58em;
    z-index: 2;
}

.over2 {
    position: relative;
    z-index: 1;
    margin-top: 58em;
    width: 100%;
    height: 13.8%;
}

.bant {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    color: #245750;
    font-size: 60;
    margin-top: -5em;
    z-index: 2;
    margin-left: 6.8em;
    text-align: center;

}

.banx {
    font-family: 'Rubik-Regular', sans-serif;
    color: #D19980;
    font-weight: 400;
}

.dex {
    position: absolute;
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
    margin-top: -8em;
    z-index: 2;
    margin-left: 24em;
    font-size: 18;
    color: #245750;

}

.gets {
    position: absolute;
    text-decoration: none;
    padding: 10px 25px;
    color: #245750;
    background-color: #F8D965;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    font-family: 'Rubik-Regular', sans-serif;
    margin-top: 65em;
    margin-left: -57%;
    z-index: 2;
    width: 150px;
    transition : all .5s;
}

.gets:hover {
    transform: scale(1.1);
}

.kotak {
    width: 80%;
    right: 10%;
    top: 190em;
    margin-top: -4em;
    position: absolute;
}
.iss{
    margin-top: 3em;
}
.bot3 {
    color: #245750;
    font-family: 'Rubik', sans-serif;
    font-size: 72;
    position: absolute;
    top: 39.5em;
    margin-top: -2em;
    width: 6em;
    left: 132px;
}

.kll {
    color: #D19980;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.dexs {
    color: #245750;
    font-family: 'Rubik', sans-serif;
    font-size: 25;
    top: 118em;
    left: 26.3em;
    margin-top: -5.8em;
    position: absolute;
}

.haff {
    text-align: center;
    color: #245750;
    position: absolute;
    line-height: auto;
    margin-top: -44em;
    margin-left: 12.2em;
}

.hafalan {
    font-size: 53px;
}

.hafaland {
    font-size: 23px;
}

.aq {
    text-align: center;
    color: #245750;
    position: absolute;
    margin-top: -44em;
    margin-left: 34.2em;
}

.aqidah {
    font-size: 53px;
}

.aqidah1 {
    font-size: 23px;
}

.isy {
    text-align: center;
    color: #245750;
    position: absolute;
    margin-top: -44em;
    margin-left: 57.4em;
}

.isy1 {
    font-size: 53px;
}

.isy2 {
    font-size: 23px;
}

.pdt {
    text-align: center;
    color: #245750;
    position: absolute;
    margin-top: -20em;
    margin-left: 12em;
}

.pdt1 {
    font-size: 53px;
}

.pdt2 {
    font-size: 23px;
}

.komun {
    text-align: center;
    color: #245750;
    position: absolute;
    margin-top: -20em;
    margin-left: 33em;
}

.komun1 {
    font-size: 51px;
}

.komun2 {
    font-size: 23px;
}

.it {
    text-align: center;
    color: #245750;
    position: absolute;
    margin-top: -20em;
    margin-left: 56.5em;
}

.it1 {
    font-size: 43px;
}

.it2 {
    font-size: 23px;
}

.ban2 {
    width: 100%;
    margin-top: 25px;
    position: absolute;
    z-index: -2;
}

.over3 {
    width: 100%;
    z-index: -10;
    margin-top: 24px;
    position: relative;

}

.daftar {
    color: #D19980;
    font-weight: 400;
    font-size: 60;
    margin-top: -3.8em;
    margin-left: 1em;
}

.ijo {
    color: #245750;
    font-weight: 600;
}

.reg {
    text-align: right;
    color: #245750;
    font-size: 27;
    margin-top: -4.5em;
    margin-right: 2em;
}
.akhir{
    width: 150px;
    transition: width .5s, left .5s;
    position: absolute;    
    padding: 10px 25px;
    color: #245750;
    background-color: #F8D965;
    border-radius: 20px;
    font-size: large;
    text-align: center;
    margin-left: 60em;
    margin-top: 3em;
    left: 5px;
}
.akhir:hover{
    left: 15px;
}
.footer{
width: 100%;
height: 30em;
}
.logo-gede{
    margin-left: 30%;
    margin-top: 20em;
}
.copy{
    margin-left: 45%;
    margin-top: 10em;
    color: #245750;
}

